{% extends 'base.html.twig' %}

{% block title %}RC-Ticket{% endblock %}

{% block body %}

    <div class=" container mx-auto px-4">
        <div class="text-4xl text-cyan-700 dark:text-cyan-400">RC-Ticket</div>
        <p>Welcome to RC-Ticket. Login or Sign up to create a new ticket</p>
    </div>
{% endblock %}
