{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}
    <div class="container mx-auto pt-1">

        <div class="flex flex-col">
            <div class="-m-1.5 overflow-x-auto">
                <div class="p-1.5 min-w-full inline-block align-middle">
                    <div class="border rounded-lg shadow overflow-hidden dark:border-gray-700 dark:shadow-gray-900">
                        <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
                            <thead class="bg-gray-400 dark:bg-os-300">
                            <tr>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium dark:text-slate-900 uppercase dark:text-slate-800">Id</th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium dark:text-slate-900 uppercase dark:text-slate-800">Title</th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium dark:text-slate-900 uppercase dark:text-slate-800">Address</th>
                            </tr>
                            </thead>
                            <tbody class="divide-y divide-gray-200 dark:divide-gray-700">
                            {% for post in posts %}
                                <tr>
                                    <td class="px-6 py-4 whitespace-nowrap text-xs font-medium text-gray-800 dark:text-gray-200">
                                        {{ post.id }}
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap text-xs text-gray-800 dark:text-gray-200">{{ post.title }}</td>
                                    <td class="px-6 py-4 whitespace-nowrap text-right text-xs font-medium">
                                        <a class="dark:text-indigo-500 dark:hover:text-indigo-300" href="#">Delete</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
